body {
	display: flex;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Spartan, sans-serif;
	font-size: 15/16 +0rem;
	font-weight: 400;
	color: hsl(303, 10%, 53%);
	line-height: 1.67;
	background-image: url('~@/assets/images/bg-pattern-top.svg'), url('~@/assets/images/bg-pattern-bottom.svg');
	background-repeat: no-repeat, no-repeat;
	background-position: top left, bottom right;
	background-size: 100%, auto 30%;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

@media screen and (min-width: 62em) {
	body {
		background-size: 36%, 73%;
	}
}
