$primary-1: hsl(215, 51%, 70%);
$primary-2: hsl(178, 100%, 50%);
$primary-2-50: hsla(178, 100%, 50%, 50%);

$neutral-1: hsl(217, 54%, 11%);
$neutral-2: hsl(216, 50%, 16%);
$neutral-3: hsl(215, 32%, 27%);
$neutral-4: hsl(0, 0%, 100%);

$ff-primary: 'Outfit', sans-serif;
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
